<h1> Whoops!</h1>
<p>
    Something went wrong
    <a href="https://itutorsanjay.herokuapp.com">(Go To Home Page)</a>
</p> 

<style>
body {
  display: inline-block;
  background: #00AFF9 url(https://cbwconline.com/IMG/Codepen/Unplugged.png) center/cover no-repeat;
  height: 100vh;
  margin: 0;
  color: white;
}
a{
    text-decoration: none;
    color:#ffffff;
    font-family: 'Courier New', Courier, monospace
}
a:hover{
    color:black
}

h1 {
  margin: .8em 3rem;
  font: 4em Roboto;
}

p {
  display: inline-block;
  margin: .2em 3rem;
  font: 2em Roboto;
}
</style>