<% include top%>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
<style>
#authors img{
    margin-top:-50px
}
#authors .card:hover{
    background:#008cba;
    color:#fff;
}
#authors .card:hover a{
    color:#fff;
}
</style>
<section id="authors" class="my-5 text-center ">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="info-header mb-5">
                        <h1 class="text-primary pb-3">
                            Meet The Developers
                        </h1>
                        <p class="lead pb-3">
                            This is our team our team is our team none of your team hassh what to write here to fill up some space.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <img src="img/person1.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
                        </div>
                        
                        <h5 class="text-muted">FrontEnd</h5>
                        <p>Responsible for implementing visual elements that users see and interact with in a web application</p>
                        <div class="d-flex flex-row justify-content-center">
                            <div class="p-4">
                                <a target="_blank" href=""><i class="fab fa-facebook"></i></a>
                            </div>
                            <div class="p-4">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </div>
                            <div class="p-4">
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="height:300px" class="col-lg-3 col-md-6">
                        <div class="card">
                                <div class="card-body">
                                    <img src="img/person2.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
                                </div>
                                
                                <h5 class="text-muted">Backend</h5>
                                <p>Responsible for server-side web application logic and integration of the work front-end developers do</p>
                                <div class="d-flex flex-row justify-content-center">
                                    <div class="p-4">
                                        <a  target="_blank" href=" "><i class="fab fa-facebook"></i></a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                </div>
                <div class="col-lg-3 col-md-6">
                        <div class="card">
                                <div class="card-body">
                                    <img src="img/person3.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
                                </div>
                                
                                <h5 class="text-muted">Lead Programmer</h5>
                                <p>Comfortable working with all the technologies required to get an idea to a finished product.</p>
                                <div class="d-flex flex-row justify-content-center">
                                    <div class="p-4">
                                        <a target="_blank"  href=""><i class="fab fa-facebook"></i></a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                </div>
                <div class="col-lg-3 col-md-6">
                        <div class="card">
                                <div class="card-body">
                                    <img src="img/person4.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
                                </div>
                                <h3>Shreesh kesharwani</h3>
                                <h5 class="text-muted">Team Leader</h5>
                                <p>Provides direction, instructions and guidance to a group of individuals, who can also be known as a team, for the purpose of achieving a certain goal</p>
                                <div class="d-flex flex-row justify-content-center">
                                    <div class="p-4">
                                        <a target="_blank"   href=""><i class="fab fa-facebook"></i></a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
        </div>
       
    </section>

 
<%include bottom %>

<footer id="main-footer" class="bg-primary mt-4" style="
left: 0;
bottom: 0;
width: 100%;
color: white;
text-align: center;">
    <div class="container  ">
        <div class="row">
            <div class="col text-center">
                <div class="py-4">
                    <h1 class="h3">i2tr</h1>
                    <p>Copyright &copy; 2018 </p>
                    <a class="btn btn-primary" target="_blank" href="https://www.facebook.com/dantesingh.bhandari.94">
                        Contact US
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>