
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h3>First Time Here</h3>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body text-center">
          BROWSER SUPPORT : CHROME <hr>
          Login through Google, Facebook <br>
           Or  <br> 0. Get Registerd to Start a Window
          <hr>
          <small>1. After that you can either create or join to a window</small>  
          <img src="/help/1.PNG" class="img-fluid" alt=""> <br>
          <small>2. Creating a window gives you a Unique ID: </small> 
          <img src="/help/2.PNG" class="img-fluid" alt=""><br>
          <small>3. You can Invite your friend or student to this id: </small>
          <img src="/help/3.PNG" class="img-fluid" height="200px" alt=""> <br>
          <small>4. One Can connect through you by joining or opening the link </small>
          <img src="/help/4.PNG"   class="img-fluid" height="200px" alt="">
          <img src="/help/5.PNG"   class="img-fluid" width="300px" alt=""> <br><hr>
          <small>NOTE: YOU & YOUR PATNER MUST HAVE SAME ID TO GET CONNECTD</small>
        </div>
      </div> 
    </div>
  </div>
</main>
   
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    
  </body>
</html>