<% include top%>


<form action="/code" method="post">
   
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Code Here</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="code"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>   
  </form>


  <textarea class="form-control mt-5" id="exampleFormControlTextarea2" rows="3"></textarea>



<%include bottom %>
